@import "../../ui/styles";

.content {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
}

$user-gap: 10px;
$top-offset: 60px;

.dealerIcon {
  color: yellow;
}

.helpIcon {
  background-color: $color-lightgreen;
}

.meldIcon {
  font-weight: bold;
  color: $color-darkred;
}

.userIcons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.discardedTile {
  cursor: pointer;
  color: blue;
}

.helpModalTrigger {
  bottom: 0;
}

.settingsModalTrigger {
  top: 0;
}

.userItem {
  position: relative;
}

.userContentWrap {
  width: 20px;
  overflow: visible;
  position: absolute;
}

.userContent {
  display: flex;
  gap: 5px;
  height: max-content;
  justify-content: flex-start;
  overflow: visible;
  width: max-content;
}

.userWrapper {
  position: absolute;
  display: flex;
  opacity: 0.4;

  &.userRight,
  &.userLeft {
    top: 0;
    bottom: 0;
    transform: translateY($top-offset - 40px);
    align-items: center;
    .userContent {
      flex-direction: column;
    }
  }

  &.userLeft {
    left: $user-gap;
    .tilesColumn {
      transform: translateX(-10px);
    }
  }

  &.userRight {
    right: $user-gap + 40px;
    .tilesColumn {
      transform: translateX(-20px);
    }
  }

  &.userBottom {
    bottom: $user-gap + 30px;
  }

  &.userTop {
    top: $user-gap + $top-offset;
  }

  &.userTop,
  &.userBottom {
    right: 0;
    left: 0;
    justify-content: center;
    .userContent {
      flex-direction: row;
    }
  }

  &.userActive {
    opacity: 1;

    :global .ant-avatar {
      background: darkgreen;
    }
  }
}

.wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-height: 150px;
  padding: 120px 60px 60px;

  background: $color-lightgreen;
  border-radius: 12px;

  &.mobile {
    box-sizing: border-box;
    height: 100vh;
    // stylelint-disable-next-line
    margin: 0 -$common-gap;
    border-radius: 0;
  }
}

.helpModalTrigger,
.settingsModalTrigger {
  cursor: pointer;

  position: absolute;
  right: 0;

  padding: $user-gap;

  font-size: 25px;
  color: #777;

  opacity: 0.5;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: #333;
    opacity: 1;
  }
}

.banner {
  position: absolute;
  top: 20px;
  left: 20px;

  padding: 10px;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1);
}
