@import "../../ui/styles";

.content {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
}

$user-gap: 10px;

.dealerIcon {
  color: yellow;

  &.boardIcon {
    position: absolute;
    right: -18px;
    bottom: -2px;
  }

  &.helpIcon {
    background-color: $color-lightgreen;
  }
}

.discardedTile {
  cursor: pointer;
  color: blue;
}

.helpModalTrigger {
  cursor: pointer;

  position: absolute;
  right: 0;
  bottom: 0;

  padding: $user-gap;

  font-size: 30px;
  color: #777;

  opacity: 0.5;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: #333;
    opacity: 1;
  }
}

.userItem {
  position: relative;
}

.userWrapper {
  position: absolute;
  display: flex;
  opacity: 0.4;

  &.userRight,
  &.userLeft {
    top: 0;
    bottom: 0;
    align-items: center;
  }

  &.userLeft {
    left: $user-gap;
  }

  &.userRight {
    right: $user-gap;
  }

  &.userBottom {
    bottom: $user-gap;
  }

  &.userTop {
    top: $user-gap;
  }

  &.userTop,
  &.userBottom {
    right: 0;
    left: 0;
    justify-content: center;
  }

  &.userActive {
    opacity: 1;

    :global .ant-avatar {
      background: darkgreen;
    }
  }
}

.wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-height: 150px;
  padding: 60px;

  background: $color-lightgreen;
}
