@import "../styles.scss";

.mainLink {
  color: $color-darkgreen !important;
  text-decoration: none !important;
}

.wrapper {
  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 30px;
  margin: 0;
  padding: 15px 10px 15px;

  @include desktop-above {
    padding: 15px 50px 15px;
  }
}

.inner {
  box-sizing: border-box;
  display: flex;
  margin: auto;
  max-width: $desktop-max-width;
  padding: 0 $common-gap;
  width: 100%;
}
