@import "../styles";

.mainLink {
  color: $color-darkgreen !important;
  text-decoration: none !important;
}

.wrapper {
  @include desktop-above {
    padding: 15px 50px;
  }

  display: flex;

  margin: 0;
  padding: 15px 10px;

  font-size: 30px;

  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  max-width: $desktop-max-width;
  margin: auto;
  padding: 0 $common-gap;
}
