@import "../styles";

.content {
  display: flex;
  flex-direction: column;
  gap: $common-gap;

  box-sizing: border-box;
  max-width: $desktop-max-width;
  height: 100vh;
  margin: auto;
  padding-top: 80px;
}
