@import "../styles.scss";

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $common-gap;
  height: 100vh;
  margin: auto;
  max-width: $desktop-max-width;
  padding-top: 80px;
}
