@import "../ui/styles";

.table {
  flex: 1;

  :global .ant-table-row {
    cursor: pointer;
  }
}

.newGameButton {
  @include mobile {
    margin: 0 auto;
  }

  display: inline-block;
}

.displayName {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;

  small {
    font-size: 0.8em;
  }
}
