@import "../ui/styles";

.githubButton {
  @include mobile {
    display: inline-block;
  }

  display: none;
}

.headerWrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.pageInner {
  @include tablet-above {
    grid-template-rows: 1fr 0;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  flex: 1;
  gap: $common-gap;

  padding: 0 $common-gap;

  main {
    display: flex;
    flex-direction: column;
    gap: $common-gap;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: $common-gap;
    align-items: center;
    justify-content: center;
  }
}
